# Build folders
bin/
obj/

# Frontend
ai-study-frontend/node_modules/
ai-study-frontend/dist/

# VS Code
.vscode/

# User settings
*.user
*.suo

# Environment files
.env
.env.local

# App secrets (development only)
appsettings.Development.json

# Logs
*.log

# Binaries
*.dll
*.exe
*.pdb

# Mac
.DS_Store

publish/